body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100vh;
}
body, html, a, p, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Carousel */
.carousel-caption h5 {
    font-size: 2em;
}
.carousel-caption p {
    font-size: 1em;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    /* Hide captions */
    /* .carousel-caption { */
    /*     display: none; */
    /* } */
}


.navbar {
    padding: 15px 40px;
}

.navbar-control {
    justify-content: flex-end !important;
}

.navbar-control a {
    text-decoration-style: unset;
}

.carousel-custom-top {
    display: flex !important;
    height: 50% !important;
}

.carousel-custom-top img {
    height: fit-content !important;
    display: flex;
    align-self: end;
}

.carousel-custom-bottom {
    display: flex !important;
    height: 50% !important;
    width: 100%;
}

.carousel-custom-bottom p {
    text-align: center;
}

.carousel-custom-bottom .carousel-caption {
    width: 100%;
}

.card {
    height: 100%;
}

.card-body {
    padding: 0 !important;
    padding-left: 30px;
}

.card-body,
.container,
.row:last-of-type,
.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
    height: calc(100%);
    justify-content: center;
}

.registration-info {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    padding: 20px 0px;
}

.registration-subtitle {
    font-size: 20px;
    line-height: 30px;
}

.registration-title {
    font-size: 36px;
    line-height: 54px;
}

.registration-carousel-button {
    width: 10px !important;
    height: 10px !important;
    background-color: #EFEFEF !important;
    border: none !important;
    opacity: 1 !important;
    border-radius: 5px;
}

.registration-carousel-indicators {

}

.carousel-caption {
    position: relative !important;
    color: #4C56C0;
    left: initial !important;
    right: initial !important;
}

.text-primary {
    color: #4C56C0
}

#registrationCarousel>div.carousel-indicators>button.registration-carousel-button.active {
    background-color: #4C56C0 !important
}

.app-view-portrait-inner {
    margin: auto;
}

.app-view-portrait-registration {
    background-color: #4c56c0;
    color: white;
    padding: 0 40px;
    display: flex;
}

.app-view-portrait-registration .socials-frame {
    background: #3C46A7;
    border-radius: 10px;
    margin: 30px 0;
}

.copy-text {
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    color: #3C46A7
}
footer {
    margin-top: 10px;
}

.my-primary-button {
    background-color: #F9617D;
    border: none;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}
    .my-primary-button:hover {
        background-color: #E35872;
        border: none;
    }
    .my-primary-button:disabled {
        background: #F9617D;
        border: none;
    }

.navbar-expand-lg {
    flex-wrap: wrap;
}

.for-debugging {
    font-size: 15px;
    position: absolute;
    top: 0;
    left: -250px;
    display: flex;
    flex-direction: column;
}

.toast-header>img {
    max-height: 46px;
    max-width: 46px;
    border-radius: 22px;
}

.ah-yeet {
    content: "Ah yeet";
}

@media (max-width: 550px) and (orientation: portrait) {
    body {
        padding: 0 !important;
        padding: 15px !important;
    }

    .body-content {
        height: 100%;
        max-width: unset;
        padding: 0px;
    }

    .top-container {
        display: none;
    }

    .copy-text {
        color: white;
    }

    .carousel-caption p {
        font-size: 0.9em !important;
    }
}

@media (min-width: 551px) and (max-width: 985px) {
    body {
        padding: 0 !important;
        padding: 15px !important;
    }

    .body-content {
        height: 100%;
        max-width: unset;
        padding: 0px;
    }

    .copy-text {
        color: white;
        margin-bottom: 15px;
    }

    a, p, span, h1, h2, h3, h4, h5, h6, div {
        padding: 0;
        margin: 0;
    }

    .carousel-custom-top {
        margin-bottom: 40px;
    }

    .carousel-custom-top img {
        height: 150px !important;
    }

    .carousel-caption
    .carousel-caption h5 {
        margin-top: 30px;
        font-size: 2em !important;
    }

    .carousel-caption p {
        font-size: 1em !important;
    }

    .container {
        max-width: unset;
    }
    .my-primary-button {
        margin-top: 30px;
    }
}

@media(min-width: 986px) {
    .carousel-custom-top > img {
        max-height: 200px !important;
        width: unset !important;
    }

    body {
        padding: 0 !important;
        padding: 15px !important;
    }

    .body-content {
        height: 100%;
        max-width: unset;
        padding: 0px;
    }

    .container {
        max-width: unset;
    }

    .carousel-caption h5 {
        font-size: 1.8em;
        margin-top: 40px;
    }
}

@media(min-width: 1312px) {
    body {
        padding: 15px !important;
    }

    .body-content {
        margin: 0px !important;
        padding: 0px !important;
        max-width: unset;
    }

    .container {
        max-width: unset;
    }
}

.bottom-bar {
    justify-content: space-between;
}
.bottom-bar p, .bottom-bar div {
    position: relative !important;
    justify-self: flex-end;
    color: #3c46a7;
    font-family: 'Poppins';
    font-weight: 400
}

.bottom-bar > div {
    margin: 0;
    margin-right: 20px;
}